<div class="d-flex flex-row justify-content-start align-items-center align-self-center sign-container">
<%# <h3>Log in</h3> %>
    <div class="w-50 d-flex justify-content-start align-items-center flex-column">
    <h2>Sign up</h2>
    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
      <p class="text-light">You already have account?</p>
      <%= render "devise/shared/loginbutton" %>
    </div>
    </div>

      <div class="w-50 d-flex justify-content-center align-items-center flex-column">

  <div class="form-inputs">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>


  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "text-light btn btn-primary mt-2" %>
  </div>
<% end %>
</div>
      </div>



</div>
