<!-- app/views/cars/new.html.erb -->

<div class="container m-4">
  <%= simple_form_for(@car) do |f| %>
    <%= f.input :model %>
    <%= f.input :vin %>
    <%= f.input :plate %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file,  input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
