<div class="container mt-5 mb-5 d-flex flex-column justify-content-center align-items-center ">
  <!-- app/views/cars/show.html.erb -->

  <div class="title_buttons">
    <h3 class="card-show-title"><%= @car.model %></h3>
    <div class="buttons">
      <%= link_to 'Back to Cars', cars_path, class: "btn btn-primary" %>
        <%= link_to 'Back to Home Page', root_path, class: "btn btn-primary" %>
    </div>

  </div>
  <div class="images-section d-flex flex-row justify-content-center align-items-center">
   <% if @car.photos.exists? %>
    <%= cl_image_tag @car.photos.first.key, crop: :fill %>
    <div class="images-groupe">
      <% @car.photos.take(4).each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill %>
      <% end %>
        <!-- app/views/articles/index.html.erb -->
    </div>,
    <% else %>
      <img src="https://as1.ftcdn.net/v2/jpg/02/85/50/58/1000_F_285505833_Uln9XJXTb8HsYvCKBsCul6J8Tia1z0xK.jpg" alt="car">
      <div class="images-groupe">
      <img src="https://as1.ftcdn.net/v2/jpg/02/85/50/58/1000_F_285505833_Uln9XJXTb8HsYvCKBsCul6J8Tia1z0xK.jpg" alt="mini">
      <img src="https://as1.ftcdn.net/v2/jpg/02/85/50/58/1000_F_285505833_Uln9XJXTb8HsYvCKBsCul6J8Tia1z0xK.jpg" alt="mini">
      <img src="https://as1.ftcdn.net/v2/jpg/02/85/50/58/1000_F_285505833_Uln9XJXTb8HsYvCKBsCul6J8Tia1z0xK.jpg" alt="mini">
      <img src="https://as1.ftcdn.net/v2/jpg/02/85/50/58/1000_F_285505833_Uln9XJXTb8HsYvCKBsCul6J8Tia1z0xK.jpg" alt="mini">
      </div>
    <% end %>
  </div>


    <div class="details_card">

        <div>
          <strong>Plate:</strong>
          <%= @car.plate %>
        </div>

        <div>
          <strong>VIN:</strong>
          <%= @car.vin %>
        </div>

        <div>
          <strong>Location:</strong>
          <%= @car.location %>
        </div>

        <div>
          <strong>Description:</strong>
          <%= @car.description %>
        </div>

        <div>
          <strong>Price:</strong>
          $<%= @car.price %>
        </div>

  </div>

  <div class="d-flex flex-row justify-content-between align-items-start w-100 px-4 mt-5">
    <div style='width: 500px; height: 600px;border-radius:10px'
      data-controller="map" class="map"
      id='map'
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

      </div>
    <div class="form-card form-cardstart" data-controller="booking" >
    <h5>Personal Details</h5>
    <%= form_with action: new_car_offer_path(@car.id) do |form| %>
    <%= form.text_field :query, placeholder: "First name", data: { booking_target: "fname" }%>
    <%= form.text_field :query, placeholder: "Last name", data: { booking_target: "lname" } %>
    <input name="startdate" type="text" data-controller="datepicker" placeholder="Start date" data-booking-target="startdate"/>
    <input name="enddate" type="text" data-controller="datepicker" placeholder="End date" data-booking-target="enddate"/>
    <button data-booking-target="btn" class="btn btn-success text-light w-100" data-action="click->booking#validate">Create offer</button>
    <% end %>
    </div>
  </div>
</div>
