<div class="container mt-5 mb-5 d-flex flex-column justify-content-center align-items-center ">
  <!-- app/views/cars/show.html.erb -->

  <div class="title_buttons">
    <h3 class="card-show-title"><%= @car.model %></h3>
    <div class="buttons">
      <%= link_to 'Back to Cars', cars_path, class: "btn btn-primary" %>
        <%= link_to 'Back to Home Page', root_path, class: "btn btn-primary" %>
    </div>

  </div>
  <div class="images-section d-flex flex-row justify-content-center align-items-center">
    <%= cl_image_tag @car.photos.first.key, crop: :fill %>
    <div class="images-groupe">
      <% @car.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill %>
      <% end %>
        <!-- app/views/articles/index.html.erb -->
    </div>,
  </div>


    <div class="details_card">

        <div>
          <strong>Plate:</strong>
          <%= @car.plate %>
        </div>

        <div>
          <strong>VIN:</strong>
          <%= @car.vin %>
        </div>

        <div>
          <strong>Owner:</strong>
          <%= @car.owner.user_id %>
        </div>

        <div>
          <strong>Description:</strong>
          <%= @car.description %>
        </div>

  </div>

  <div class="d-flex flex-row justify-content-between align-items-start w-100 px-4 mt-5">
    <div id='map' data-controller="map" class="map" style='width: 500px; height: 600px;border-radius:10px'></div>
    <div class="form-card">
    <h5>Personal Details</h5>
    <%= form_with url: "/search", method: :get do |form| %>
    <%= form.text_field :query, placeholder: "placeholder text" %>
    <%= form.text_field :query, placeholder: "placeholder text" %>
    <%= form.text_field :query, placeholder: "placeholder text" %>
    <%= form.text_field :query, placeholder: "placeholder text" %>
    <%= form.text_field :query, placeholder: "placeholder text" %>
    <%= form.text_field :query, placeholder: "placeholder text" %>
    <%= form.submit "Search", class: "btn btn-success text-light" %>
    <% end %>
    </div>
  </div>
</div>
